*{border:0;
	padding:0;
	margin:0;
}
body{
	height:auto;
}

#container{
	border:0;
	padding:0;
	margin:0;
	background:url(../images/home_bg4.jpg) no-repeat center;
	width:100%;
	
	background-size:cover;
	
	
}

/*canvas {
	background:none;
	background-size:contain;
	background-repeat: no-repeat;
	background-position:top;
	
}*/
#dowebok{
	
}
